$light-yellow:#feff89;
$light-orange:#ff9f68;
$dark-orange:#f85959;
$dark-red:#7c203a;
$green:#28a745;
$black:#1e1e1e;
$white:#fff;
$dark-blue:#3b5fb0;
$light-blue:#6c92ec;
$dark-green:#2ea591;
$light-green:#4ae7cd;
